.main-IMG{
    width:700px;
    height:450px;
    overflow: hidden;
    object-fit: cover;
    border-radius:10px;
}
.main-IMG img{
    width:700px;
    height:450px;
}
.room-preview img{
    height:70px;
    width:100px;
    display:inline-block;
    margin:10px 5px;
    float: left;
}