.main-IMG{
    width:700px;
    height:450px;
    overflow: hidden;
    object-fit: cover;
    border-radius:10px;
}
.main-IMG img{
    width:700px;
    height:450px;
    transition:0.5s;
}
.room-preview img{
    height:70px;
    width:100px;
    display:inline-block;
    margin:10px 5px;
    float: left;
    cursor: pointer;
    object-fit: cover;
}
.room-preview img:hover{
    opacity:70%;

}
.room-preview .room-active{
    border:3px solid #5a9c9f;
}
