body{
    background-color:#f6f7eb;
}

::selection {
    background:#2EB1AB;
    color:white;
}
#toTop{
    background-color:#2eb1ab;
    width:50px;
    z-index:99;
    right:50px;
    bottom:60px;
    position:fixed;
    display:none;
    height:50px;
    border-radius:10px;
    border: none;
    font-size:20px;
    color:#395D5E;
}
#toTop:focus{
    outline:none;
}
#toTop:hover{
    background-color: #395D5E;
    color: #2eb1ab;
}


.navbar{
    width:100%;
    position:fixed;
    z-index:99999;
    animation: navbar 1s ease-out forwards ;
}
.navbar .nav-search{
    display:none;
}
@keyframes navbar {
    0%{
        opacity:0;
        margin-top:-30px;
    }
    100%{
        opacity:1;
        margin-top:0;
    }
}
.logo{
    width:200px;
    height:200px;
}
nav .menu li{
    display:inline;
    margin:0 20px;

}
.menu-nav-text{
    font-size:20px;
    color:#2EB1AB;
    font-family: 'Quicksand',sans-serif;
}
.li1,.li2,.li4,.li5{
    transition:0.6s;
}
.menu-nav-text:hover{
    position:relative;
    color:#F6F7EB;
    text-decoration:none;
    transition:0.4s;
    cursor:pointer;
}

nav.sticky{
    padding:10px 10px 10px;
    width:100%;
    background-color:#B1E1DF;
    transition:0.5s;
}
.sticky .li3{
    display:none;
}
.sticky ul {
    float: left;
    margin-top:10px;
}
.sticky .nav-search{
    display:block;
}
/*.nav-search{*/
/*    margin-top:4px;*/
/*    margin-right:100px;*/
/*    padding:10px 20px;*/
/*    background-color: #2EB1AB;*/
/*    float: right;*/
/*    height:40px;*/
/*    justify-content:center;*/
/*    cursor: pointer;*/
/*    transition:0.75s;*/
/*    border-radius:30px;*/
/*}*/
.nav-search:hover > #search{
    width:200px;
}
.nav-search .fa-search{
    font-size:16px;
    color:#b1e1df;
}
.nav-search .fa-search:hover{
    color:#F6F7EB;
}
#search{
    background:transparent;
    border:none;
    outline:none;
    width:0;
    font-size:16px;
    font-weight:300;
    transition:0.8s;
}
#search:focus{
    width:200px;
}
/*#toTop{*/
/*    background-color:#2eb1ab;*/
/*    width:50px;*/
/*    z-index:99;*/
/*    right:50px;*/
/*    bottom:60px;*/
/*    position:fixed;*/
/*    display:none;*/
/*    height:50px;*/
/*    border-radius:10px;*/
/*    border: none;*/
/*    font-size:20px;*/
/*    color:#395D5E;*/
/*}*/
#toTop:focus{
    outline:none;
}
#toTop:hover{
    background-color: #395D5E;
    color: #2eb1ab;
}

::selection {
    background:#2EB1AB;
    color:white;
}


.navbar{
    width:100%;
    position:fixed;
    z-index:99999;
    animation: navbar 1s ease-out forwards ;
}
.navbar .nav-search{
    display:none;
}
@keyframes navbar {
    0%{
        opacity:0;
        margin-top:-30px;
    }
    100%{
        opacity:1;
        margin-top:0;
    }
}

.logo{
    width:200px;
    height:200px;
}

.menu-2{
    right:-16.5px;
    text-align: center;
    position: absolute;
    top:30px;
    width:150px;
    height:auto;
    display: none;
}
.li2:hover > .menu-2{
    display: block;
}
nav .menu li{
    display:inline-block;
    margin:0 20px;
    position: relative;

}
.menu-nav-text,.menu-nav-text-menu2{
    font-size:20px;
    line-height:30px;
    font-weight:900;
    color:#2EB1AB;
    font-family: 'Quicksand',sans-serif;
}
.li1,.li2,.li4,.li5{
    transition:0.6s;
}
.menu-nav-text:hover,.menu-nav-text-menu2:hover{
    position:relative;
    color:#F6F7EB;
    text-decoration:none;
    transition:0.4s;
    cursor:pointer;
}

nav.sticky{
    padding:10px 10px 10px;
    width:100%;
    background-color:#B1E1DF;
    transition:0.5s;
}
.sticky ul .menu-2{
    background-color:#b1e1df;
    width:150px;
    height:auto;
    top:20px;
}
.sticky .li3{
    display:none;
}
.sticky ul {
    float: left;
    margin-top:10px;
}
.sticky .nav-search{
    display:block;
}
.nav-search{
    margin-top:4px;
    margin-right:100px;
    padding:10px 20px;
    background-color: #2EB1AB;
    float: right;
    height:40px;
    justify-content:center;
    cursor: pointer;
    transition:0.75s;
    border-radius:30px;
}
.nav-search:hover > #search{
    width:200px;
}
.nav-search .fa-search{
    font-size:16px;
    color:#b1e1df;
}
.nav-search .fa-search:hover{
    color:#F6F7EB;
}
#search{
    background:transparent;
    border:none;
    outline:none;
    width:0;
    font-size:16px;
    font-weight:300;
    transition:0.8s;
}
#search:focus{
    width:200px;
}
.overall{
    width:1000px;
    margin:20px auto;
    padding:20px 10px;
    box-shadow:0 0 4px 4px #d6d5d5;
    cursor: pointer;
    border-radius:10px;
}
.overall:hover{
    background-color: blanchedalmond;
}
.folder{
    display: flex;
}
.text-content{
    margin:20px 20px;
    font-family: cursive;
}
.folder img{
    width:240px;
    height:170px;
    border-radius:10px;
}
.date-time span{
    color: #adadad;
}
.date-time{
    display: flex;
}
.see-more{
    float: right;
    color:#46b8da;
    margin: -20px 20px;
    font-weight: 700;
    font-family: cursive;
}
.see-more:hover{
    color: #265a88;
    text-decoration: none;
}



.simple-pagination{
    padding-right: 60px;
    float: right;
}
.simple-pagination ul li{
    display:inline-block;
    list-style:none;
    margin:5px;
}
.simple-pagination  li a,
.simple-pagination  li span
{
    margin:5px;
    line-height:30px;
    display: block;
    text-decoration:none;
    font-size: 20px;
    font-weight: 700;
    width:30px;
    height:30px;
    background: #cccccc;
    color: #31b0d5;
    text-align: center;
    align-items: center;
}
.simple-pagination .current{
    color: white;
    background-color: #9acfea;
    cursor: pointer;
    border: 2px solid #adadad;
}
.simple-pagination .prev.current,
.simple-pagination .next.current{
    background:#adadad;
    border: none;
}
footer{
    width:auto;
    height:350px;
    background:#B1E1DF;
}
footer h3{
    font-family: 'Palanquin Dark',sans-serif;
    color:#395D5E;
}
.footer p{
    color:#395D5E;
    font-size:15px;
    font-family: 'Quicksand',sans-serif;
}
footer ul li{
    font-size:20px;
    font-family:'Quicksand',sans-serif;
}
footer ul li span{
    color:#395D5E;
}
a.email,.phone{
    margin-left:5px;
    color:#2EB1AB;
}
a.email:hover,.phone:hover{
    color:#395D5E;
    text-decoration:none;
}

.logo-footer img{
    width:250px;
    height:250px;
}
.contact-footer{
    margin-top:20px;
}
.copyright{
    margin-top:-10px;
}
.footer-bottom{
    margin-top:40px;
    border-top:1px solid #c3bebe;
}
.followus{
    margin-top:20px;
}
.followus ul li .fa-facebook-square,.fa-instagram-square{
    font-size:40px;
    color: #2EB1AB;
    margin-top:10px;
}
.followus ul li .fa-facebook-square:hover,.fa-instagram-square:hover{
    color:#395D5E;
}
.followus ul li span{
    color: white;
}