*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    text-decoration:none;
    list-style: none;
}body{
     background:#F6F7EB;
 }

.slider-backgroud-home{
    width:100%;
    height:800px;
    background-image: url("../IMG/eProject slides IMG/slides1.jpg");
    background-size:cover;
    background-attachment:fixed;
}
.slider-backgroud-home .full-tittle-home-wellcome{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.slider-backgroud-home span{
    display: block;
    text-transform: uppercase;
}
.wellcome{
    color: #2EB1AB;
    width:auto;
    font-size:40px;
    font-weight:500;
    text-shadow: #175b58 2px 2px;
    animation: text2 0.75s ease-out forwards;
    font-family: 'Quicksand',sans-serif;

}
.name-danang{
    font-size:70px;
    font-weight:550;
    color:#2eb1ab;
    margin-bottom:-40px;
    letter-spacing:8px;
    position: relative;
    font-family: 'Lobster',sans-serif;
    animation: text 0.75s ease-out forwards;
    text-shadow: #175b58 2px 2px;
}
@keyframes text {
    0%{
        opacity:0.1;
        margin-top:100px;

    }
    100% {
        opacity: 1;
        margin-top: 0;
    }

}
@keyframes text2 {
    0%{
        opacity:0;
        margin-top:-40px;

    }
    100% {
        opacity: 1;
        margin-top: 0;
    }

}


.full-content-home{
    width:90%;
    height:auto;
    margin:auto;
}

.content-introduce{
    margin:0 25px;
}
.img-content-introduce{
    background-color: #cee3e3;
    width:1200px;
    display: flex;
    margin: auto;
}
.text-content-introduce{
    width:525px;
    height:300px;

}
.content-introduce .text-content-introduce h2{
    color:#517A85;
    font-size:40px;
    font-family:'Quicksand',sans-serif;
}
.introduce h1{
    color:#517A85;
    font-size:70px;
    margin:55px 0;
    font-family:'Palanquin Dark',sans-serif;
}
.text-content-introduce h2{
    margin-top:50px;
}
.text-content-introduce p{
    align-items: center;
    margin-top:10px;
    font-size:15px;
    font-family:'Roboto',sans-serif;
    font-weight:350;
    line-height:25px;
}
.introduce{
    width:90%;
    height: auto;
    margin:auto;
}
.introduce .img-content-introduce .img{
    width:600px;
    height:400px;
    margin:10px;

}
.introduce .img-content-introduce .img{
    box-shadow:5px 5px 30px rgba(0,0,0,0.3);
}
.buttom-introduce{
    float: right;
    margin:40px 188px;
    width:150px;
    height:35px;
    border-radius:30px;
}
.experie-content{
    margin:50px auto;
    width:95%;
    height:300px;
    /*border-radius:5px;*/
    /*box-shadow:2px 2px 30px rgba(0,0,0,0.2);*/
    /*background-color:#ffffff;*/
}
.experie-content .experie{
    display:inline-block;
    margin:20px 60px;
}
.experie-content .experie .img1-experie{
    width:38px;
    height:35px;
}
.experie-content .experie .img2-experie{
    width:47px;
    height:35px;
}
.experie-content .experie .img3-experie{
    width:45px;
    height:38px;
}
.Hot-newshome{
    padding:20px 0;
    width:100%;
    height:800px;
    background-color:#f6f6f6;
}
.full-content-hotnewhome{
    display: flex;
    margin: auto;
    width:85%;
    height:760px;
}
.Content-hotnewhome{
    margin:0 13px;
    background-color:white;
    width:400px;
    height:760px;
    border-radius:10px;
}
.Hot-newshome .Content-hotnewhome .img-newhome{
    width:338px;
    height:354px;
    margin:31px;
    border-radius:10px;
}

.Hot-newshome .Content-hotnewhome .content-text-homenew{
    margin:0 20px;
    width:360px;
    height:auto;
}
.readmore-content-homenew{
    margin:10px 120px;
    width:160px;
    height:40px;
    border-radius:5px;
}
.backgroud-botton{
    width:100%;
    height:300px;
    border-radius:5px;
    background-image:url("../IMG/Home/54485-sunwheel2.jpg");
    background-attachment: fixed;
    background-size:cover;

}
/*Gallery-home*/
.Gallery-home{
    margin:40px 0;
    width:100%;
    height:500px;
    border:2px solid black;

}

.Slider-BottonHome{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
}
.Content-Gallery{
    width:350px;
    height:450px;
    text-align: center;
    border-radius:5px;
    border:1px solid black;
}

