*{
    padding:0;
    margin:0;
    font-family:'Roboto',sans-serif;
    text-decoration:none;
    list-style: none;
}body {
     background: #F6F7EB;
 }
.navbar{
    background: -webkit-linear-gradient(top, #ffffff 1%, transparent 100%);
    height:250px;
}
.slider-backgroud-home{
    width:100%;
    height:800px;
    background-image:url("../IMG/eProject slides IMG/slides1.jpg");
    background-size:cover;
    background-attachment:fixed;
}
.slider-backgroud-home .full-tittle-home-wellcome{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.slider-backgroud-home span{
    display: block;
    text-transform: uppercase;
}

.full-content-home{
    width:90%;
    height:auto;
    margin:auto;
}

.content-introduce{
    margin:0 25px;
}
.img-content-introduce{
    width:1200px;
    display: flex;
    margin: auto;
    border-radius:5px;
}
.text-content-introduce{
    width:570px;
    height:425px;
    padding:20px 30px;

}
.icon-map{
    margin:30px 94px 30px 94px;
    font-size:25px;
    color: red;
}
.name-park{
    font-size:55px;
    margin:60px 94px 10px  94px;
    font-weight:800;
}
.content-introduce .text-content-introduce h2{
    color:#517A85;
    font-size:40px;
    font-family:'Roboto',sans-serif;
}

.text-content-introduce h2{
    margin-top:50px;
    font-weight:700;

}

.text-content-introduce p{
    align-items: center;
    margin-top:10px;
    font-size:15px;
}
.hotNew-tittle{
    font-size:20px;
    color: red;
}
.introduce{
    width:90%;
    height: auto;
    margin:auto;
    border-radius:10px;
}
.introduce .img-content-introduce .img{
    width:600px;
    height:400px;
    margin:10px;
    border-radius:5px;

}
.introduce .img-content-introduce .img{
    box-shadow:5px 5px 30px rgba(0,0,0,0.3);
}
.buttom-introduce{
    float: right;
    margin:40px 188px;
    width:160px;
    height:40px;
    border-radius:10px;
    border: none;
    color:#ffffff;
    background-color: #2EB1AB;
}
.experie-content{
    margin:50px auto;
    width:95%;
    height:300px;
    border-radius:5px;
    box-shadow:2px 2px 30px rgba(0,0,0,0.2);
    background-color:#ffffff;

}
.experie-content p{
    font-style: italic;
}
.experie-content .experie{
    display:inline-block;
    margin:40px 60px;
    width:260px;
}
.experie-content .experie .img1-experie{
    width:38px;
    height:35px;
}
.experie-content .experie .img2-experie{
    width:47px;
    height:35px;
}
.experie-content .experie .img3-experie{
    width:45px;
    height:38px;
}
.Hot-newshome{
    padding:20px 0;
    margin: auto;
    width:90%;
    height: auto;
}
.experie-title{
    font-family:'Roboto',sans-serif;
}

.full-content-hotnewhome{
    margin: auto;
    width:100%;
    height:760px;
    text-align: center;
}
.full-content-home h6{
    font-size:20px;
    font-weight:600;
    margin:20px 94px 30px 94px ;
}
.Content-hotnewhome{
    margin:0 13px;
    background-color:white;
    width:370px;
    height:760px;
    border-radius:10px;
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    display: inline-block;
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
}
.Content-hotnewhome:hover{
    box-shadow:5px 5px 20px rgba(0,0,0,0.3);
    background-color: #ffffff;
}
.Content-hotnewhome:hover h4,
.Content-hotnewhome:hover p{
    color: #517A85;
}
.Content-hotnewhome:hover a{
    text-decoration:none;
}
.content-hotnewhome .content-text-homenew h4{
    text-decoration:black;
}
.Hot-newshome .Content-hotnewhome .img-newhome{
    width:350px;
    height:385px;
    margin:10px;
    border-radius:10px;
    overflow: hidden;
    object-fit: cover;

}
.Hot-newshome .Content-hotnewhome img {
    width: 380px;
    height: 385px;
    object-fit: cover;
}

.Hot-newshome .Content-hotnewhome .content-text-homenew{
    margin:40px 0 40px 40px;
    padding-top:10px;
    width:360px;
    height:150px;
    text-align: left;
}
.content-text-homenew p{
    margin-top:20px;

}
.buttomNew{
    margin:60px 0 auto;
    width:160px;
    height:40px;
    border-radius:10px;
    border: none;
    background-color: #2EB1AB;
    color:#ffffff;
    font-size:15px;
}
.buttomNew:hover{
    background-color: #09625d;

}
.backgroud-botton{
    width:100%;
    height:300px;
    border-radius:5px;
    background-image:url("../IMG/Home/54485-sunwheel2.jpg");
    background-attachment: fixed;
    background-size:cover;

}
/*Gallery-home*/
.Gallery-home{
    margin:40px 0;
    width:100%;
    height:500px;

}

.Slider-BottonHome{
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
}
.Content-GalleryHome{
    width:400px;
    height:450px;
    background-position:center;
    text-align: center;
    border-radius:5px;
    overflow: hidden;
    margin:30px 20px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.4);

}
.Content-GalleryHome img{
    border-radius:10px;
    width: unset;
    height: fit-content;
}
.Item1{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/mua-he-nay-hay-thu-check-in-song-ao-tai-sun-world-danang-wonders-12.jpg");
}
.Item2{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/asia_park_13.jpg");
}
.Item3{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/cay-cau-vang-sun-world-ba-na-hills-da-nang-vao-top-nhung-cau-di-bo-tuong-nhat-gioi-1.jpg");
}
.Item4{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/highway-boat-sun-world-da-nang.jpg");
}
.Item5{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/khu-trung-quoc-sun-world-da-nang-scaled.jpg");
    margin-right:20%;
}
.Item6{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/nha-hang-indo.jpg");
}
.Item7{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/nha-hang-jummie-sun-world-da-nang-scaled.jpg");
}
.Item8{
    opacity: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/queen-cobra-.jpg");
}
.Item9{
    opacity: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/the-flying-kirins-scaled.jpg");
}
.Item10{
    opacity: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/tro-choi-mao-hiem-sieu-chat-sap-co-mat-o-hoi-an-1.jpg");
}
.Item11{
    opacity: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/vong-quay-mat-troi-asia-park_1.jpg");
}
.Item12{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/vong-xoay-360-do-sun-world-da-nang.jpg");
}
.Item13{
    opacity: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../IMG/GALLERY/vong-xoay-ngua-go-sun-world-scaled.jpg");
}



