body{
    list-style: none;
    background-color: #F6F7EB;
}
.embrace{
    width:90%;
    height:650px;
    display:flex;
    margin: 20px auto;
    padding:27px;
    border-radius:10px;
    background-color: #ffffff;
}
.document{
    width: 50%;
    height: auto;
    margin-right: 20px;
    padding: 25px;
    border-radius: 10px;
}
.h1{
    font-family: 'Roboto',sans-serif;
}
h2{
    font-family: 'Roboto',sans-serif;
}
.document p{
    font-size: 20px;
    font-family: 'Roboto',sans-serif;
}
.drink{
    width:90%;
    height:auto;
    margin: auto;
    padding-top: 40px;
}
.title {
    width:15%;
    height:90px;
    padding-top: 5px;
    padding-left: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.big-item{
    width: 100%;
    height:auto;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.drinks{
    width:300px;
    height:370px;
    display:inline-block;
    border-radius: 10px;
    margin:10px;
    overflow: hidden;
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
    object-fit: cover;
    background-color:#ffffff;
}
.drinks img{
    height: 235px;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}



