body{
    list-style: none;
    background-color: #F6F7EB;
}
.embrace{
    width:90%;
    height:600px;
    display:flex;
    margin: 20px auto;
    padding:27px;
    background-color: #ffffff;
}
.item-content{
    margin:0 30px;;
}
.full-contentProductCuisine{
    width:90%;
    height: auto;
    margin: auto;
}
.document{
    text-align:left;
    width:600px;
    height:450px;
}
.h1{
    font-family: 'Roboto',sans-serif;
}
h2{
    font-family: 'Roboto',sans-serif;
}
.drink{
    width:100%;
    height:auto;
    margin: auto;
    padding-top: 40px;
}
.title {
    width:15%;
    height:90px;
    padding-top: 5px;
    padding-left: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.big-item{
    width: 100%;
    height:auto;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.drinks{
    width:250px;
    height:350px;
    display:inline-block;
    border-radius: 10px;
    margin:15px;
    overflow: hidden;
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
    object-fit: cover;
    background-color:#ffffff;
}
.drinks img{
    height: 235px;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}