body{
    padding: 0;
    margin: 0;
}
.col-md-9{
    height: 900px;
    margin-left: 12%;
}
.col-md-9 h1{
    text-align: center;
    color: #f0ad4e;
    font-family: Lucida Handwriting;
    font-weight: 900;
}
.overall-frame{
    height: 450px;
    background-color: #9acfea;
    padding-top: 40px;
}
.col-md-3{
    height: 350px;
    background-color: #f7f7f7;
    margin-left: 70px;
    border-radius: 10px;
}
.col-md-3 img{
    margin-top: 10px;
    border-radius: 10px;
}
.col-md-3 h3{
    text-align: center;
    font-family: cursive;
    font-weight: 700;
}
.col-md-3 img{
    width: 240px;
    height: 250px;
}