*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    text-decoration: none;
}
.full-contenCuisine{
    width:90%;
    height: auto;
    margin: auto;
}
.date-time{
    margin:10px 0 0 ;
}
.NameContent{
    margin:0;
}
h2{
    font-family:'Roboto',sans-serif;
    font-weight:600;
    font-size:30px;
}
.overall{
    width:1200px;
    height:210px;
    margin:20px auto;
    background: #ffffff;
    box-shadow:0 0 4px 4px #d6d5d5;
    cursor: pointer;
    border-radius:10px;
}
.overall:hover{
    background-color: blanchedalmond;
}
.overall:hover .see-more{
    color:#2EB1AB;
}
.overall a{
    font-weight: 700;
}
.folder{
    display: flex;
}
.text-content{
    margin:0 20px;
    font-family: cursive;
}
.folder img{
    width:240px;
    height:190px;
    margin:10px;
    border-radius:5px;
}
.date-time span{
    color: #adadad;
}
.date-time{
    display: flex;
}

.see-more:hover{
    color: #265a88;
    text-decoration: none;
}