*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    text-decoration: none;
    list-style: none;
}
.full-contenCuisine{
    width:90%;
    height: auto;
    margin: auto;
}
.date-time{
    margin:10px 0 0 ;
    text-decoration:none;
}
.date-time:hover{
    text-decoration: none;
}
.NameContent{
    margin:0;
    color:#000000;
}
.overall{
    width:1200px;
    height:210px;
    margin:20px auto;
    background: #ffffff;
    box-shadow:0 0 4px 4px #d6d5d5;
    cursor: pointer;
    border-radius:10px;
}
.overall:hover{
    background-color: #f7f8f4;
}
.overall a{
    text-decoration: none;
}
.overall:hover a .NameContent{
     color: black;
 }
h2{
    font-family:'Roboto',sans-serif;
    font-weight:600;
    font-size:30px;
}

p{
    font-size: 20px;

}
.folder{
    display: flex;
}
.text-content{
    margin:0 20px;
    font-family: cursive;
}
.folder img{
    width:240px;
    height:190px;
    margin:10px;
    border-radius:5px;
    overflow: hidden;
    object-fit: cover;
}
.date-time span{
    color: #adadad;
}
.date-time{
    display: flex;
}
