#toTop{
    background-color:#2eb1ab;
    width:50px;
    z-index:99;
    right:20px;
    bottom:30px;
    position:fixed;
    display:none;
    height:50px;
    border-radius:10px;
    border: none;
    font-size:20px;
    color:#395D5E;
}
#toTop:focus{
    outline:none;
}
#toTop:hover{
    background-color: #efeeee;
    color: #2eb1ab;
}