*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style:none;
}
.full-contentEntertainment{
    width:100%;
    height:auto;
    margin:auto;
}
.main{
    width:80%;
    height:600px;
    margin:30px auto;
    padding:40px 10px;
    display: flex;
    text-align: center;
    background-color:#ffffff;
}
.item-content{
    margin:0 30px;
}
.content-entertainment{
    text-align:left;
    width:600px;
    height:450px;

}
.Full-OtherExperience-Entertainmen{
    width:100%;
    height:auto;
}
.image{
    width:700px;
    height:520px;
}
.Full-ProductEntertainment{
    text-align: center;
}
.productEntertainment{
    width:250px;
    height:320px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.3);
    display: inline-block;
    margin:15px;
    object-fit: cover;
    overflow: hidden;
    background-color:#ffffff;
    border-radius:10px;
}
.productEntertainment:hover h3{
    color: black;
}
.productEntertainment img{
    object-fit: cover;
    overflow: hidden;
    width: 250px;
    height: 180px;
    transition:0.5s;
}
h2{
    color: #2aabd2;
}
h3{
    color:#007ca5;
}
.lulu{
    text-align: center;
    width:1300px;
    height:20px;
    border:1px solid;
    display: inline-block;
    margin:20px;
    object-fit: cover;
    background-color: yellow;
}
