body{
    width: 100%;
    height: 100%;
}
.contain .container.row{
    height:600px;
    margin:30px auto;
    padding:40px 10px;
    display: flex;
    text-align: center;
    width: 100%;
    background-color: white;
}
.col-md-4{
    text-align: left;
    margin-top: 12%;
}
.a b{
    font-size: 20px;
    font-weight: 800;
}
.products,.product-other{
    width: 100%;
    float: left;
}
.product,.product-other{
    width: 15%;
    height: 400px;
    background-color:#ffffff;
    float: left;
    margin-left:8%;
    border-radius:10px;
    border-image-width: 10px;
    margin-top: 10%;
}

.product,.product-other img{
    border-radius:10px 10px;
}
.other-experiences{
    font-weight: 800;
    margin-top: 10%;
    font-size: 20px;
    margin-left: 8%;
}
.product:hover,.product-other:hover{
    box-shadow:0 0 5px #c6bfbf;
}
.product-souvenir,.product-souvenir-other{
    width:90%;
    height:800px;
    margin: auto;
}
header{
    display: block;
}
.full-productNew{
    text-align:center;
}
.product-otherNew p{
    width:230px;
    margin:10px;
    text-align: left;
}
.product-otherNew h3{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.product-otherNew img{
    width:90%;
    margin:13px;
    height:150px;
    border-radius:5px;

}

.product-otherNew{
    background-color: #ffffff90;
    width:250px;
    height:300px;
    display:inline-block;
    margin:10px;
    border-radius:5px;
    box-shadow:2px 2px 10px rgba(0,0,0,0.2);

}
.product-otherNew:hover{
    background-color: #F6F7EB;
    box-shadow:2px 2px 10px rgba(0,0,0,0.2);
}
.product-otherNew:hover h3{
    color:#2EB1AB;
}
.product-otherNew:hover p{
    color:#2EB1AB;
}
.product-otherNew:hover img{

}
.experiences{
    width:90%;
    height:auto;
    margin:30px auto;
    padding: 50px 0 0 0;
}

.product-otherNew img{
    width: 90%;
    height:60%;
}



