body{
    background:#f6f7eb;
}
a{
    font-family:'',sans-serif;
}
h4{
    font-family:'Roboto',sans-serif;
    font-weight:450;
    font-size:20px;
    color: black;
}
h3{
    font-family:'Roboto',sans-serif;
}
h1{
    font-family:'Times New Roman',sans-serif;
}
p{;
    border-color:#202124;
    color: #202124;
    font-family:'Roboto',sans-serif;
    letter-spacing:0.2px;
    line-height:20px;
}
.title-Other{
    font-family:'Palanquin Dark',sans-serif;
    font-size:20px;
    margin:10px 100px;

}
