*{
    text-decoration: none;
    list-style: none;
    margin:0;
    padding:0;
}
::selection {
    background:#2EB1AB;
    color:white;
}
.topContent{

}
.container-navbar{
}
.border-top{
    margin:auto;
    text-align:center;
    padding-top:230px;
    display:inline-block;
    height:260px;
    width:100%;
    background: #fbfcf7;
}
.navbar{
    width:100%;
    margin: auto;
    position:fixed;
    z-index:99999;
    animation: navbar 1s ease-out forwards ;
}
.navbar .nav-search{
    display:none;
}
@keyframes navbar {
    0%{
        opacity:0;
        margin-top:-30px;
    }
    100%{
        opacity:1;
        margin-top:0;
    }
}

.logo{
    width:200px;
    height:200px;
}
.border-top .fa-chevron-right{
    font-size:20px;
    color:#517A85;
}
.border-top span{
    font-family:'Roboto',sans-serif;
    color:#2EB1AB;
}
.border-top a{
    color:#2EB1AB;
    cursor: pointer;
}
.border-top h4{
    color: #517A85;
}
.border-top a:hover{
    color: #517A85;
    cursor: pointer;
}
.border-top .span2{
    color: #517A85;
    margin:0 5px;
}


.menu-2{
    position: absolute;
    text-align: left;
    top:30px;
    width:150px;
    height:auto;
    display: none;
}
.menu-2 .li-menu2{
    margin:0;
}
.li2:hover > .menu-2{
    display: block;
}
nav .menu li{
    display:inline-block;
    position: relative;
    margin:0 10px;
}
.menu-nav-text,.menu-nav-text-menu2{
    text-align: left;
    font-size:20px;
    line-height:30px;
    color:#2EB1AB;
    font-weight:550;
    font-family: 'Quicksand',sans-serif;
}

.li1,.li2,.li4,.li5{
    transition:0.6s;
}
.menu-nav-text:hover,.menu-nav-text-menu2:hover{
    position:relative;
    color:#F6F7EB;
    text-decoration:none;
    transition:0.4s;
    cursor:pointer;
}

nav.sticky{
    padding:10px 10px 10px;
    width:100%;
    background-color:#ffffff;
    transition:0.5s;
}
.sticky ul .menu-2{
    padding-top:15px;
    background-color:#ffffff;
    width:150px;
    height:auto;
    top:20px;
}
.sticky .li3{
    display:none;
}
.sticky ul {
    float: left;
    margin-top:10px;
}
.sticky .nav-search{
    display:block;
}
.sticky .container-nav{
    width:80%;
    height:auto;
    margin:auto;
}
.nav-search{
    margin-top:4px;
    padding:10px 20px;
    background-color: #2EB1AB;
    float: right;
    height:40px;
    justify-content:center;
    cursor: pointer;
    transition:0.75s;
    border-radius:30px;
}
.nav-search:hover > #search{
    width:200px;
}
.nav-search .fa-search{
    font-size:16px;
    color:#b1e1df;
}
.nav-search .fa-search:hover{
    color:#F6F7EB;
}
#search{
    background:transparent;
    border:none;
    outline:none;
    width:0;
    font-size:16px;
    font-weight:300;
    transition:0.8s;
}
#search:focus{
    width:200px;
}