.simple-pagination{
    margin-left:69%;
}
.simple-pagination ul li{
    display:inline-block;
    list-style:none;
    margin:5px;
}
.simple-pagination  li a,
.simple-pagination  li span
{
    margin:5px;
    line-height:40px;
    display: block;
    text-decoration:none;
    font-size:20px;
    font-weight: 700;
    width:40px;
    height:40px;
    background-color:#2EB1AB;
    color:#ffffff   ;
    text-align: center;
    align-items: center;
}
.simple-pagination .current {
    line-height:40px;
    color: white;
    cursor: pointer;
    background: #517A85;
    border: 2px solid #adadad;
}
.simple-pagination .prev.current,
.simple-pagination .next.current{
    background:#B1E1DF;
    border: none;
}
.simple-pagination .prev,
.simple-pagination .next{
     background:#517A85;
}